In [1]:
import numpy as np

In [6]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [20]:
A = [1,2,3,4,5,6]

In [21]:
B = [13,21,24]

In [50]:
A.extend(B)

In [56]:
import pandas as pd

In [26]:
df1 = pd.read_csv(r"https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [27]:
df1.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [28]:
df1.describe

<bound method NDFrame.describe of                       record_id  utility_id_ferc1  report_year  \
0         f1_fuel_1994_12_1_0_7                 1         1994
1        f1_fuel_1994_12_1_0_10                 1         1994
2         f1_fuel_1994_12_2_0_1                 2         1994
3         f1_fuel_1994_12_2_0_7                 2         1994
4        f1_fuel_1994_12_2_0_10                 2         1994
5        f1_fuel_1994_12_2_0_13                 2         1994
6         f1_fuel_1994_12_2_1_1                 2         1994
7        f1_fuel_1994_12_2_1_10                 2         1994
8        f1_fuel_1994_12_2_2_10                 2         1994
9         f1_fuel_1994_12_4_0_1                 4         1994
10        f1_fuel_1994_12_4_0_2                 4         1994
11        f1_fuel_1994_12_4_0_4                 4         1994
12        f1_fuel_1994_12_4_0_5                 4         1994
13        f1_fuel_1994_12_6_0_1                 6         1994
14        f1_fuel_1994_12_6_0_2                 6         1994
15        f1_fuel_1994_12_6_0_4                 6         1994
16        f1_fuel_1994_12_6_0_7                 6         1994
17       f1_fuel_1994_12_6_0_10                 6         1994
18       f1_fuel_1994_12_6_0_13                 6         1994
19       f1_fuel_1994_12_6_0_14                 6         1994
20        f1_fuel_1994_12_6_1_7                 6         1994
21        f1_fuel_1994_12_6_1_8                 6         1994
22       f1_fuel_1994_12_6_1_10                 6         1994
23       f1_fuel_1994_12_6_1_11                 6         1994
24       f1_fuel_1994_12_6_1_13                 6         1994
25       f1_fuel_1994_12_6_1_14                 6         1994
26        f1_fuel_1994_12_7_0_1                 7         1994
27        f1_fuel_1994_12_7_0_2                 7         1994
28        f1_fuel_1994_12_7_0_3                 7         1994
29        f1_fuel_1994_12_7_0_7                 7         1994
...                         ...               ...          ...
29493   f1_fuel_2018_12_191_0_3               191         2018
29494   f1_fuel_2018_12_191_0_5               191         2018
29495   f1_fuel_2018_12_191_0_6               191         2018
29496   f1_fuel_2018_12_191_0_8               191         2018
29497  f1_fuel_2018_12_191_0_11               191         2018
29498   f1_fuel_2018_12_191_1_2               191         2018
29499   f1_fuel_2018_12_191_1_3               191         2018
29500   f1_fuel_2018_12_191_1_6               191         2018
29501   f1_fuel_2018_12_191_1_8               191         2018
29502   f1_fuel_2018_12_191_1_9               191         2018
29503  f1_fuel_2018_12_191_1_14               191         2018
29504  f1_fuel_2018_12_191_1_15               191         2018
29505   f1_fuel_2018_12_432_0_2               432         2018
29506   f1_fuel_2018_12_432_0_5               432         2018
29507   f1_fuel_2018_12_432_0_8               432         2018
29508  f1_fuel_2018_12_432_0_11               432         2018
29509  f1_fuel_2018_12_432_0_14               432         2018
29510   f1_fuel_2018_12_403_0_2               403         2018
29511   f1_fuel_2018_12_403_0_6               403         2018
29512   f1_fuel_2018_12_403_0_9               403         2018
29513    f1_fuel_2018_12_12_0_2                12         2018
29514    f1_fuel_2018_12_12_0_4                12         2018
29515    f1_fuel_2018_12_12_0_7                12         2018
29516    f1_fuel_2018_12_12_0_8                12         2018
29517   f1_fuel_2018_12_12_0_10                12         2018
29518   f1_fuel_2018_12_12_0_13                12         2018
29519    f1_fuel_2018_12_12_1_1                12         2018
29520   f1_fuel_2018_12_12_1_10                12         2018
29521   f1_fuel_2018_12_12_1_13                12         2018
29522   f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
5       e. c. gaston-unit 5                coal       ton        2124933.0
6          joseph m. farley             nuclear       kgU           2260.0
7       resondent's portion                coal       ton        5372133.0
8      respondent's portion                coal       ton         817520.0
9                 units 1-3                coal       ton        1471233.0
10                units 1-3                 gas       mcf         262720.0
11                   unit 4                coal       ton         476779.0
12                   unit 4                 gas       mcf           6673.0
13             clinch river                coal       ton        1655558.0
14             clinch river                 oil       bbl           6510.0
15          amos-apco share                coal       ton        3520831.0
16               amos-total                coal       ton        5327281.0
17                 glen lyn                coal       ton         666975.0
18            kanawha river                coal       ton         391864.0
19            kanawha river                 oil       bbl           3505.0
20                mountainr                coal       ton        2837040.0
21                mountainr                 oil       bbl          50013.0
22        philip sporn-apco                coal       ton         383043.0
23        philip sporn-apco                 oil       bbl          13969.0
24     philip sporn ttl plt                coal       ton        1338459.0
25     philip sporn ttl plt                 oil       bbl          48750.0
26       cholla units 1,2,3                coal       ton        2062799.0
27       cholla units 1,2,3                 oil       bbl          10088.0
28       cholla units 1,2,3                 gas       mcf          38086.0
29                4 corners                coal       ton        2599962.0
...                     ...                 ...       ...              ...
29493              tecumseh                 gas       mcf          25325.0
29494      gordon evans ctf                 gas       mcf        2073725.0
29495      gordon evans ctf                 oil       bbl          10030.0
29496          spring creek                 gas       mcf        2461276.0
29497           emporia ctf                 gas       mcf        5853049.0
29498            hutchinson                 gas       mcf         170018.0
29499            hutchinson                 oil       bbl            527.0
29500   hutchinson w/diesel                 oil       bbl             36.0
29501         jeffrey (jec)                coal       ton        4189920.0
29502         jeffrey (jec)                 oil       bbl          19764.0
29503              lawrence                coal       ton        1761218.0
29504              lawrence                 gas       mcf          88846.0
29505        pueblo diesels                 oil       bbl             81.0
29506      airport - pueblo                 oil       bbl            133.0
29507    rocky ford diesels                 oil       bbl            320.0
29508   airport - units 1&2                 gas       mcf        2154971.0
29509        airport unit 6                 gas       mcf         162132.0
29510               wygen 2                coal       ton         569800.0
29511  cheyenne prairie 42%                 gas       mcf         613882.0
29512      cheyenne prairie                 gas       mcf          19655.0
29513    ben french station                 gas       mcf          39679.0
29514    ben french station                 oil       bbl            487.0
29515   neil simpson unit 2                 gas       mcf          18370.0
29516   neil simpson unit 2                coal       ton         491913.0
29517      wyodak - bhp 20%                coal       ton         409637.0
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                16.590000                     18.590
1                16.592000                     18.580
2                24.130000                     39.720
3                23.950000                     47.210
4                 1.000000                      2.770
5                23.922000                     44.240
6                 0.064094                     28.770
7                24.840000                     58.540
8                24.290000                     33.970
9                22.484000                     28.730
10                1.026000                      1.940
11               22.428000                     28.710
12                1.026000                      1.940
13               25.038000                     30.248
14                5.875338                     32.130
15               24.508000                     44.404
16               24.538000                     44.312
17               25.836000                     36.268
18               25.160000                     46.024
19                5.774958                     33.321
20               24.526000                     39.911
21                5.845644                     30.319
22               24.334000                     39.850
23                5.742870                     32.184
24               24.334000                     40.144
25                5.742828                     32.186
26               19.970000                     31.520
27                5.851020                     32.650
28                0.880901                      2.490
29               17.530000                     21.170
...                    ...                        ...
29493             1.033011                      6.462
29494             1.038883                      4.462
29495             5.846053                     94.777
29496             1.026999                      2.328
29497             1.045818                      3.681
29498             1.019451                      4.536
29499             5.816407                    102.110
29500             5.795044                    102.488
29501            16.673825                     29.799
29502             5.835849                     88.553
29503            17.888320                     26.775
29504             1.031133                      6.274
29505             5.694696                    101.330
29506             5.756940                     95.530
29507             5.719602                     98.180
29508             1.130000                    255.000
29509             1.130000                      2.460
29510            16.110000                     14.760
29511             1.050000                      3.520
29512             1.050000                      8.910
29513             1.059000                      5.680
29514             5.831070                      0.000
29515             1.059000                      8.330
29516            16.100000                     14.760
29517            16.068000                     13.690
29518             1.059000                      4.780
29519             1.050000                      3.650
29520             1.060000                      4.770
29521            16.108000                      3.060
29522             1.059000                      0.000

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                            18.530                1.121
1                            18.530                1.120
2                            38.120                1.650
3                            45.990                1.970
4                             2.770                2.570
5                            43.250                1.850
6                             0.000                0.450
7                            55.130                2.360
8                            34.650                1.400
9                            28.110                1.278
10                            1.940               13.900
11                           28.110                1.280
12                            1.940                1.900
13                           29.019                1.208
14                           23.444                5.469
15                           42.915                1.812
16                           42.940                1.806
17                           32.893                1.404
18                           42.034                1.829
19                           26.280                5.770
20                           38.717                1.627
21                           23.884                5.187
22                           35.856                1.638
23                           30.508                5.604
24                           35.793                1.650
25                           30.507                5.605
26                           31.200                1.580
27                           28.730                5.580
28                            2.480                2.820
29                           20.860                1.210
...                             ...                  ...
29493                         6.462                6.255
29494                         4.462                4.295
29495                        94.900               16.212
29496                         2.328                2.267
29497                         3.681                3.520
29498                         4.536                4.450
29499                         0.000               17.556
29500                         0.000               17.685
29501                        29.970                1.787
29502                       101.010               15.174
29503                        27.392                1.497
29504                         6.274                6.084
29505                       101.330               17.790
29506                        95.530               16.590
29507                        98.150               17.160
29508                         3.780                3.350
29509                         3.970                3.510
29510                         0.810                1.130
29511                         3.520                3.360
29512                         8.910                8.480
29513                         5.680                5.360
29514                         0.000                9.970
29515                         8.330               15.930
29516                        17.720                1.100
29517                        14.310                0.890
29518                         4.780                9.030
29519                         3.650                6.950
29520                         4.770                8.990
29521                        14.760                1.110
29522                         0.000               11.680

[29523 rows x 11 columns]>

In [35]:
df1.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [51]:
round(df1.std(axis = 0),2)

utility_id_ferc1                     74.18
report_year                           7.03
fuel_qty_burned                 9118003.53
fuel_mmbtu_per_unit                  10.60
fuel_cost_per_unit_burned          2854.49
fuel_cost_per_unit_delivered      68775.93
fuel_cost_per_mmbtu                2091.54
dtype: float64

In [53]:
round(df1.quantile(.75, axis=0),2)

utility_id_ferc1                    176.00
report_year                        2012.00
fuel_qty_burned                 1424034.00
fuel_mmbtu_per_unit                  17.01
fuel_cost_per_unit_burned            47.11
fuel_cost_per_unit_delivered         42.14
fuel_cost_per_mmbtu                   7.74
Name: 0.75, dtype: float64

In [54]:
round(df1.kurtosis(axis=0),2)

utility_id_ferc1                    1.09
report_year                        -1.15
fuel_qty_burned                   651.37
fuel_mmbtu_per_unit                55.60
fuel_cost_per_unit_burned         485.26
fuel_cost_per_unit_delivered    11765.05
fuel_cost_per_mmbtu             29489.13
dtype: float64

In [39]:
round(df1.skew(axis=0),2)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [43]:
df1["fuel_unit"].head(5)

0    ton
1    ton
2    ton
3    ton
4    mcf
Name: fuel_unit, dtype: object

In [60]:
df1.corr(method ="pearson")

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [47]:
df1.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [49]:
df1.groupby(["report_year","fuel_type_code_pudl"])["fuel_cost_per_unit_delivered"].sum()

report_year  fuel_type_code_pudl
1994         coal                   5.921537e+04
             gas                    8.099070e+03
             nuclear                3.483492e+03
             oil                    7.622838e+03
             other                  1.171480e+02
             waste                  5.261500e+01
1995         coal                   1.370415e+04
             gas                    6.579786e+03
             nuclear                3.211016e+03
             oil                    1.584199e+04
             other                  1.675430e+02
             waste                 -1.894270e+02
1996         coal                   1.208758e+04
             gas                    1.315040e+03
             nuclear                9.911224e+06
             oil                    8.114538e+04
             other                  1.633100e+02
             waste                  8.082600e+01
1997         coal                   1.130864e+04
             gas                    5.378348e+03
             nuclear                1.216630e+07
             oil                    4.106591e+03
             other                  1.496710e+02
             waste                  1.348730e+02
1998         coal                   3.086027e+05
             gas                    4.692188e+03
             nuclear                2.963624e+03
             oil                    1.204335e+03
             other                  1.788430e+02
             waste                  2.382040e+02
                                        ...
2013         other                  4.990400e+01
             waste                  6.455540e+02
2014         coal                   1.444617e+04
             gas                    3.803381e+03
             nuclear                9.077468e+03
             oil                    1.978223e+05
             other                  6.610000e-01
             waste                  5.452930e+02
2015         coal                   1.210350e+04
             gas                    6.181153e+03
             nuclear                8.479542e+03
             oil                    3.295471e+05
             other                  5.950000e-01
             waste                  5.913800e+02
2016         coal                   1.012057e+04
             gas                    1.844516e+03
             nuclear                8.432501e+03
             oil                    8.653198e+04
             other                  6.090000e-01
             waste                  5.042450e+02
2017         coal                   9.037849e+03
             gas                    4.179545e+03
             nuclear                8.724729e+03
             oil                    2.351354e+04
             waste                  4.178180e+02
2018         coal                   2.540527e+05
             gas                    3.851904e+03
             nuclear                8.278485e+03
             oil                    2.081079e+05
             waste                  5.147490e+02
Name: fuel_cost_per_unit_delivered, Length: 148, dtype: float64